<div class="container">
<section class="city">
  <div class="col-2 col-sm-4">
    <h2>{{ city.name }}</h2>
    <h4>{{ city.country }}</h4>
  </div>
  <div class="col-4">
    <img src="{{ city.url }}" />
  </div>
</section>
<div class="container">
    <div *ngFor="let post of city.posts" class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{post.img}}" class="img-fluid rounded-start post-icon" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">
              {{ post.body }}
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
