<div class="container">
  <div class="col-12">
    <div *ngFor="let city of cities" class="card mb-3" style="max-width: 540px">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ city.url }}" class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <a routerLink="/city/{{ city.id }}" class="card-title">
              {{ city.name }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
